.botao {
    margin: 1rem 0 0 2rem;
    width: 80%;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    padding: 0.9rem 0 ;
    border-radius: 30px;
    border: transparent;
    font-weight: 600;
    letter-spacing: 0.1rem ;
    
}

.botao:hover {
    background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}