@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Pale-blue);
}

code {
  font-family: 'Hanken Grotesk', sans-serif;
}

:root {
  /* primary */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /* secundary */
  --Light-red-back: hsla(0, 100%, 67%, 0.1);
  --Orangey-yellow-back: hsla(39, 100%, 56%, 0.1);
  --Green-teal-back: hsla(166, 100%, 37%, 0.1);
  --Cobalt-blue-back: hsla(234, 85%, 45%, 0.1);
  /*background gradients*/
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  /*circle gradients*/
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  /* neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

.secao {
  background-color: var(--White);
  margin: 15vh auto;
  width: 45%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .secao {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}